{% extends "base.html" %}

{% block title %}Edit wedstrijd{% endblock %}

{% block content %}
<div class="scoreboard d-flex justify-content-between align-items-center w-100">

    <!-- Linker knop -->
    <button class="btn btn-lg btn-success">
        <i class="bi bi-plus-circle"></i> {{tennis_match.player1}}
    </button>

    <!-- Score midden -->
    <div class="score text-center flex-grow-1">
        <h2 class="display-3">{{tennis_match}}</h2>
        <p class="text-muted">Set 1</p>
    </div>

    <!-- Rechter knop -->
    <button class="btn btn-lg btn-danger">
        <i class="bi bi-plus-circle"></i> {{tennis_match.player2}}
    </button>

</div>
{% endblock %}