/* Header & Footer */
.footer-red {
    background-color: #c95917;
    color: white;
    /* eerder stond hier dezelfde kleur als achtergrond, aangepast */
}

.header-green {
    background-color: #02503b;
    color: white;
}

/* Buttons */
.button-green {
    background-color: #02503b;
    color: white;
    border: 2px solid #02503b;
    width: 100%;
    /* mobielvriendelijk */
}

.button-green:hover {
    border-color: black;
}

/* Tekstschaling */
h1 {
    font-size: 2rem;
    /* geschikt voor mobiel */
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
        /* grotere schermen */
    }
}

/* Kleine schermen - minder padding voor header/footer */
@media (max-width: 576px) {

    .header-green,
    .footer-red {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}



.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.bg-success {
    background-color: #28a745;
}

/* green */
.bg-danger {
    background-color: #dc3545;
}

/* red */