.footer-red {
    background-color: #c95917;
    color: #c95917
}

.header-green {
    background-color: #02503b;
    color: white
}

.button-green {
    background-color: #02503b;
    color: white;
    border: 2px solid #02503b
}

.button-green:hover {
    border-color: black
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* voorkom scroll */
}

header,
footer {
    flex-shrink: 0;
    /* header/footer behouden hun grootte */
    text-align: center;
    padding: 0.5rem 1rem;
}

main {
    flex: 1;
    /* neemt alle resterende ruimte */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    min-height: 0;
    /* heel belangrijk voor iOS/Safari */
}